
@{
    ViewBag.Title = "Notifications";
}

<main>
    <div class="container mt-5">
        <h2 class="mb-4">Notification Inbox</h2>
        <ul id="notificationList" class="list-group">
        </ul>
    </div>
</main>

@section scripts {
    <script src="~/Scripts/JavaScript/notification.js"></script>
}