<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found</title>
</head>
<body>
    <div>
        <h1>Error 404.</h1>
        <h2>Page Not Found.</h2>
        <img height="480" width="361" src="https://media0.giphy.com/media/cJMlR1SsCSkUjVY3iK/giphy.gif?cid=de9bf95eiiwg3c675i36c0iz9mlyc2o0im7l6443syqbzmoc&amp;ep=v1_gifs_search&amp;rid=giphy.gif&amp;ct=g">
    </div>
    @Html.ActionLink("Back To Home", "Index", "Home")
</body>
</html>
