<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Server Fault</title>
</head>
<body>
    <hgroup>
        <h1>Error 500.</h1>
        <h2>Server Fault.</h2>
        @Html.ActionLink("Back To Home", "Index", "Home")
    </hgroup>
</body>
</html>
