.body-content {
    display: flex;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

input[readonly] {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    color: #555;
    cursor: not-allowed;
}

input,
select,
textarea {
    max-width: 300px;
}
